*.iml
.gitigore
target/*
.idea/**
**/.idea/**
logs/*
log/*
*.pdf
_thumbs
_thumbs/*
*/target/*
*/logs/*
*.log
*.lck
*.epoch
**/node/**
**/node_modules/**
**/react_web/dist/**
**/package-lock.json
**/yarn.lock
**/yarn-error.log
**/idea/**
**/dist/**
hs_err_pid*.*
replay_pid*.*

# mac
*.project
.settings/
.classpath
.factorypath
.vscode